*{
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
    
}

.col-md-10
{
      margin-top: 100px;
}
h1{
    text-align: center;
    background-color: blueviolet;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    color: white;
}



input[type = text]
{
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
}
table{
    margin-top: 30px;
    width: 100%; 
     border-radius: 5px;
}
thead{
    margin-top: 50px !important;
}

tr:nth-child(even)
{
    background-color: rgba(55, 60, 60, 0.143) !important;
}